table{
    color: white;
    text-align: center;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
tr{
    height: 18.02vh;
    background-color:rgb(13, 62, 122);
}
td{
    width: 25vw;
    border: 1px solid black;
}
#inputBox{
    background-color: white;
    text-align: right;
    text-decoration: none;
    width: 100%;
    font-size: 2em;
    color:rgb(18, 33, 75);
    border: 0px;
}
.digitBtn{
    background-color: rgb(18, 33, 75);
}
.operatorBtn{
    background-color: rgb(18, 33, 75);
}
.ACBtn{
    background-color: rgb(18, 33, 75);
}